@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');
@font-face {
  font-family: Antonio-Bold;
  src: url(../webfonts/Antonio-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Antonio-Light;
  src: url(../webfonts/Antonio-Light.ttf);
  font-weight: light;
}
@font-face {
  font-family: Antonio-Regular;
  src: url(../webfonts/Antonio-Regular.ttf);
  font-weight: regular;
}

.gradient-bg {
     background: rgb(206,230,254); /* Old browsers */

background: -webkit-linear-gradient(rgba(206,230,254,1) 0%, rgba(204,228,252,1) 0%, rgba(203,227,255,1) 4%, rgba(201,227,252,1) 5%, rgba(200,225,255,1) 8%, rgba(200,226,253,1) 8%, rgba(201,224,255,1) 9%, rgba(196,221,252,1) 14%, rgba(197,217,254,1) 20%, rgba(194,216,253,1) 21%, rgba(194,213,253,1) 26%, rgba(197,212,253,1) 27%, rgba(195,213,253,1) 27%, rgba(198,211,253,1) 28%, rgba(198,209,254,1) 31%, rgba(222,199,253,1) 43%, rgba(224,197,252,1) 47%, rgba(224,193,250,1) 48%, rgba(227,194,251,1) 50%, rgba(223,189,250,1) 54%, rgba(218,187,247,1) 55%, rgba(214,185,249,1) 57%, rgba(213,185,246,1) 57%, rgba(213,185,246,1) 57%, rgba(205,183,247,1) 59%, rgba(195,180,245,1) 62%, rgba(168,173,241,1) 67%, rgba(164,171,239,1) 67%, rgba(163,172,241,1) 68%, rgba(157,170,238,1) 69%, rgba(155,170,239,1) 69%, rgba(152,169,238,1) 70%, rgba(133,163,235,1) 74%, rgba(110,154,225,1) 79%, rgba(102,150,224,1) 82%, rgba(100,150,221,1) 82%, rgba(93,147,221,1) 84%, rgba(79,141,214,1) 87%, rgba(79,141,216,1) 88%, rgba(78,140,213,1) 88%, rgba(30,118,192,1) 100%);
background: -o-linear-gradient(rgba(206,230,254,1) 0%, rgba(204,228,252,1) 0%, rgba(203,227,255,1) 4%, rgba(201,227,252,1) 5%, rgba(200,225,255,1) 8%, rgba(200,226,253,1) 8%, rgba(201,224,255,1) 9%, rgba(196,221,252,1) 14%, rgba(197,217,254,1) 20%, rgba(194,216,253,1) 21%, rgba(194,213,253,1) 26%, rgba(197,212,253,1) 27%, rgba(195,213,253,1) 27%, rgba(198,211,253,1) 28%, rgba(198,209,254,1) 31%, rgba(222,199,253,1) 43%, rgba(224,197,252,1) 47%, rgba(224,193,250,1) 48%, rgba(227,194,251,1) 50%, rgba(223,189,250,1) 54%, rgba(218,187,247,1) 55%, rgba(214,185,249,1) 57%, rgba(213,185,246,1) 57%, rgba(213,185,246,1) 57%, rgba(205,183,247,1) 59%, rgba(195,180,245,1) 62%, rgba(168,173,241,1) 67%, rgba(164,171,239,1) 67%, rgba(163,172,241,1) 68%, rgba(157,170,238,1) 69%, rgba(155,170,239,1) 69%, rgba(152,169,238,1) 70%, rgba(133,163,235,1) 74%, rgba(110,154,225,1) 79%, rgba(102,150,224,1) 82%, rgba(100,150,221,1) 82%, rgba(93,147,221,1) 84%, rgba(79,141,214,1) 87%, rgba(79,141,216,1) 88%, rgba(78,140,213,1) 88%, rgba(30,118,192,1) 100%);
background: linear-gradient(rgba(206,230,254,1) 0%, rgba(204,228,252,1) 0%, rgba(203,227,255,1) 4%, rgba(201,227,252,1) 5%, rgba(200,225,255,1) 8%, rgba(200,226,253,1) 8%, rgba(201,224,255,1) 9%, rgba(196,221,252,1) 14%, rgba(197,217,254,1) 20%, rgba(194,216,253,1) 21%, rgba(194,213,253,1) 26%, rgba(197,212,253,1) 27%, rgba(195,213,253,1) 27%, rgba(198,211,253,1) 28%, rgba(198,209,254,1) 31%, rgba(222,199,253,1) 43%, rgba(224,197,252,1) 47%, rgba(224,193,250,1) 48%, rgba(227,194,251,1) 50%, rgba(223,189,250,1) 54%, rgba(218,187,247,1) 55%, rgba(214,185,249,1) 57%, rgba(213,185,246,1) 57%, rgba(213,185,246,1) 57%, rgba(205,183,247,1) 59%, rgba(195,180,245,1) 62%, rgba(168,173,241,1) 67%, rgba(164,171,239,1) 67%, rgba(163,172,241,1) 68%, rgba(157,170,238,1) 69%, rgba(155,170,239,1) 69%, rgba(152,169,238,1) 70%, rgba(133,163,235,1) 74%, rgba(110,154,225,1) 79%, rgba(102,150,224,1) 82%, rgba(100,150,221,1) 82%, rgba(93,147,221,1) 84%, rgba(79,141,214,1) 87%, rgba(79,141,216,1) 88%, rgba(78,140,213,1) 88%, rgba(30,118,192,1) 100%);


      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee6fe', endColorstr='#1e76c0',GradientType=0 ); /* IE6-9 */

}
.navbar {
     padding-left: 0;
     padding-right: 0;
}
.navbar-brand {
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
}
.navbar-brand span {
     font-weight: 300;
     color: #59c6d4;
}

.gray-bg {
     background-color: #757575;
}
.size-cm {
     display: none;
}
.table {
     margin-bottom: 0;
     text-align: center;
     border-collapse: separate;
     border-spacing: 1px 0;
}
.table td, .table th {
     width: 25%;
     padding-left: 5%;
     padding-right: 5%;
}

.table td {
     color: #888888;
     font-size: 17.5px;
     font-family: Antonio-Regular, Arial, sans-serif;
     padding: 5px 5%;
}
.table thead tr th {
     font-size: 26px;
     font-family: Antonio-Bold, Arial, sans-serif;
     border: none;
     position: relative;
}
.table thead tr th i {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
/* .table thead tr th:nth-child(1) i {
     color: #80deea;
}
.table thead tr th:nth-child(1) {
     background-color: #80deea;
     color: #fff;
}
.table thead tr th:nth-child(2) i {
     color: #dce775;
}
.table thead tr th:nth-child(2) {
     background-color: #dce775;
     color: #fff;
}
.table thead tr th:nth-child(3) i {
     color: #ffab91;
}
.table thead tr th:nth-child(3) {
     background-color: #ffab91;
     color: #fff;
} */
.table thead tr th i {
     color: #59c6d4;
}
.table thead tr th {
     background-color: #59c6d4;
     color: #fff;
}

.table-striped tbody tr td {
     /* background-color: rgba(245,245,245,0.5); */
     background-color: #f5f5f5;
}
.table-striped tbody tr:nth-of-type(odd) td {
     background-color: #ffffff;
}

#category-dropdown {
     display: none;
}
#category-dropdown.show {
     display: block;
}
.hidden {
     display: none;
}
.converter,
.results {
     margin-left: -2px;
     margin-right: -2px;
}
.converter div[class^='col-'],
.results div[class^='col-'] {
     padding-right: 2px;
     padding-left: 2px;

}
#charts {
     margin-top: 15px;
     margin-bottom: 50px;
     overflow: hidden;
}

/* Chart size length */
.length-unit {
     border: none;
     width: 100%;
}
.length-unit .dk-selected {
     background-color: transparent;
     border: none;
     padding: 0;
     user-select: none;
}
.length-unit .dk-selected:after {
     border: none;
}
.length-unit .dk-selected:before {
     border-top-color: #fff;
     border-bottom-color: #fff;
     transform: translateY(-50%);
     margin: 0;
}
.length-unit .dk-select-options {
     margin-top: 0;
     border-color: #dbdbdb;
     border-radius: 0;
}
.length-unit .dk-select-options .dk-option {
     color: #888;
     font-size: 18px;
}
.length-unit .dk-select-options .dk-option-selected,
.length-unit .dk-select-options .dk-option-selected.dk-option-highlight {
     background-color: #f5f5f5;
}
.length-unit .dk-select-options .dk-option-highlight {
     background-color: transparent;
}


/* Chart size length end */

.size-in:after {
     content: "''";
}
.size-cm:after {
     content: "cm";
}
.chart-title {
     color: #fff;
     font-size: 48px;
     font-family: Antonio-Regular, Arial, sans-serif;
     text-align: uppercase;
}

/* converter */
#convert {
     background-color: #59c6d4;
     color: #fff;
     text-transform: uppercase;
     font-size: 16px;
     font-family: Antonio-Regular, Arial, sans-serif;
     outline: none;
     border-radius: 0;
     margin-bottom: 8px;
}
#convert:hover,
#convert:focus {
     background-color: #429aa5
}
.converter-header {
     font-family: Antonio-Regular, Arial, sans-serif;
     color: #fff;
     font-size: 18px;
     margin-bottom: 10px;
}
.converter .dk-select {
     width: 100%;
     border: solid 1px #59c6d4;
     border-radius: 0;
     margin-bottom: 8px;
}
.converter .dk-selected {
     border: none;
     user-select: none;
     font-size: 16px;
     font-family: Antonio-Regular, Arial, sans-serif;
     color: #59c6d4;
}
.converter .dk-selected:after {
     border-left-color: #59c6d4;
}
.converter .dk-selected:before {
     border-top-color: #59c6d4;
     border-bottom-color: #59c6d4;
}
.converter .dk-select-options {
     border-color: #59c6d4;
}
.converter .dk-option {
    font-family: Antonio-Regular, Arial, sans-serif;
    padding: 2px 20px;
}
.converter .dk-select-options .dk-option-highlight {
    background-color: #59c6d4;
}
.result-header {
     font-family: Antonio-Regular, Arial, sans-serif;
     color: #fff;
     font-size: 18px;
     margin-bottom: 0;
     margin-top: 10px;
}
.result-box {
    background-color: #fff;
    border: solid 2px #59c6d4;
    font-size: 20px;
    margin: 10px 0 0;
    border-radius: 4px;
}
.result-box label,
.result-box span {
     margin-bottom: 0;
     width: 48%;
     display: inline-block;
     padding: 5px;
     text-align: center;
}

.result-box label {
     color: #fff;
     background-color: #59c6d4;
     font-family: Antonio-Light, Arial, sans-serif;
     position: relative;
}
.result-box label:after {
     content: "";
     position: absolute;
     right: -10px;
     top: 50%;
     border-top: solid 5px #fff;
     border-right: solid 5px #fff;
     border-left: solid 5px #59c6d4;
     border-bottom: solid 5px #fff;
     transform: translateY(-50%);
}


.result-box span {
     color: #59c6d4;
     font-family: Antonio-Bold, Arial, sans-serif;
}

.page-title {
     font-family: Antonio-Light, Arial, sans-serif;
     color: #fff;
     font-size: 36px;
     margin: 25px 0;
     text-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.section-title {
     font-family: Antonio-Bold, Arial, sans-serif;
     color: #fff;
     font-size: 28px;
     padding: 5px 0;
     margin-bottom: 5px;
}
.section-title > span {
     font-family: Antonio-Light, Arial, sans-serif;
}
.category-list {
     margin-bottom: 30px;
}
.category-list .list-group-item {
     padding: 0;
     font-family: Antonio-Light, Arial, sans-serif;
     font-size: 18px;
     color: #fff;
     background-color: transparent;
     border: none;
     padding: 5px;
     transition: all 0.2s;
}
.category-list .list-group-item.active {
    font-family: Antonio-Bold, Arial, sans-serif;
    color: #59c6d4;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.2s;
}
.category-list .list-group-item:hover,
.category-list .list-group-item:focus {
     color: #59c6d4;
     text-decoration: none;
     transition: all 0.2s;
}
.category-list .list-group-item + .list-group-item {
     border-top: solid 1px #59c6d4;
}

.category-list .list-group-item:first-child,
.category-list .list-group-item:last-child {
     border-radius: 0;
}
select.error,
.dk-select.error {
     border-color: #dc3545 !important;
     outline: solid 1px #dc3545;
}
@media (max-width: 767px) {
     .length-unit .dk-selected:before {
          margin: 0px 8px;
          top: auto;
          bottom: 0;
          transform: translateX(-50%);
          left: 50%;
          margin-left: 0;
     }
     .chart-col {
          margin-top: 30px;
     }
}
@media (min-width: 768px) {
     .table {
          border-spacing: 5px 0;
     }
     .result-box label,
     .result-box span {
          display: block;
          width: 100%;
     }
     .result-box span {
          padding: 15px 5px 5px;
          font-size: 24px;
     }
     .result-box label:after {
          border-bottom: solid 10px transparent;
          border-right: solid 10px transparent;
          border-top: solid 10px #59c6d4;
          border-left: solid 10px transparent;
          transform: translate(-50%, 0);
          top: auto;
          bottom: -20px;
          left: 50%;
          right: auto;
     }
}
